# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg

# Virtual environments
venv/
.venv/
env/

# PyInstaller
build/
dist/

# App runtime data
intermediate/
output/
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
