# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
.pytest_cache/

# Virtual environments
venv/
.venv/
env/

# PyInstaller
build/
dist/
release/

# App runtime data
intermediate/
output/
*.log
*.log.*
source/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.idea/
.vscode/
*.swp
*.swo
